*{
   margin: 0;
   padding: 0;
   background-color: rosybrown; 
}

.image-adjust{
    height: 1000px;
    width: 600px;
}

.font-gloriosa{
    font-family: 'Bungee Shade';
    font-family: 'Nanum Myeongjo';
}
nav{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 30px;
    background-color:red;
    color: white;
} 